@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html { 
    font-size: 62.5%;
}

body {
    overflow: hidden;
    position: relative;
    background-color: #522224;
    transition: background-color 1s ease-in-out;
}

nav {
    padding-left: 1em;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    z-index: 9999;
}

.red,
.blue,
.gray,
.jade,
.light-gray,
.white-blue {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.red > p,
.blue > p,
.gray > p,
.jade > p,
.light-gray > p,
.white-blue > p {
    transform: translateX(300svw);
    font-family: "Anton", sans-serif;
    margin-left: .2em;
    font-size: 23em;
    color: rgba(255, 255, 255, 0.836);
    letter-spacing: .2em;
    transition: transform ease-in-out 1s;
}

.red > img,
.blue > img,
.gray > img,
.jade > img,
.light-gray > img,
.white-blue > img {
    transform: translateX(250svh);
    position: absolute;
    width: 80em;
    transition: transform ease-in-out 1s;
}

.active{
    z-index: 0;
}

.active > p{
    transform: translateX(0px);
}

.active > img{
    transform: translateX(0px);
    transition-delay: 200ms;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3em;
    z-index: 9999;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    height: 6em;
    width: 28em;
    border-radius: 3em;
}

label {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 1.2em;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0em .5em;
    transition: transform 200ms;
}

span:hover {
    transform: scale(1.2);
}

label input:checked ~ span {
    transform: scale(1.2);
}

#red{
    background-color: #522224;
}

#blue {
    background-color: #464d84;
}

#gray{
    background-color: #8f8e97;
}

#jade{
    background-color: #5bb4a3;
}

#light-gray{
    background-color: #c3c1bb;
}

#white-blue{
    background-color: #0b68af;
}

@media screen and (max-width: 1780px){
    .red > p,
    .blue > p,
    .gray > p,
    .jade > p,
    .light-gray > p,
    .white-blue > p {
        font-size: 20em;
    }

    .red > img,
    .blue > img,
    .gray > img,
    .jade > img,
    .light-gray > img,
    .white-blue > img {
        width: 60em;
    }
}

@media screen and (max-width: 1550px){
    .red > p,
    .blue > p,
    .gray > p,
    .jade > p,
    .light-gray > p,
    .white-blue > p {
        font-size: 15em;
    }

    .red > img,
    .blue > img,
    .gray > img,
    .jade > img,
    .light-gray > img,
    .white-blue > img {
        width: 50em;
    }
}

@media screen and (max-width: 1160px){
    .red > p,
    .blue > p,
    .gray > p,
    .jade > p,
    .light-gray > p,
    .white-blue > p {
        font-size: 10em;
    }

    .red > img,
    .blue > img,
    .gray > img,
    .jade > img,
    .light-gray > img,
    .white-blue > img {
        width: 40em;
    }
}

@media screen and (max-width: 775px){
    .red > p,
    .blue > p,
    .gray > p,
    .jade > p,
    .light-gray > p,
    .white-blue > p {
        font-size: 7em;
    }

    .red > img,
    .blue > img,
    .gray > img,
    .jade > img,
    .light-gray > img,
    .white-blue > img {
        width: 35em;
    }
}

@media screen and (max-width: 545px){
    .red > p,
    .blue > p,
    .gray > p,
    .jade > p,
    .light-gray > p,
    .white-blue > p {
        font-size: 5em;
    }

    .red > img,
    .blue > img,
    .gray > img,
    .jade > img,
    .light-gray > img,
    .white-blue > img {
        width: 20em;
    }
}

@media screen and (max-width: 388px){
    .red > p,
    .blue > p,
    .gray > p,
    .jade > p,
    .light-gray > p,
    .white-blue > p {
        font-size: 4em;
    }

    .red > img,
    .blue > img,
    .gray > img,
    .jade > img,
    .light-gray > img,
    .white-blue > img {
        width: 18em;
    }
}