/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* ALL */

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* MENU */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 200px;
    margin-top: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.a-active {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, yellow, yellow 50%, yellow 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 20px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 20px 0px 20px;
}

li a, 
.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, yellow, yellow 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li a:hover, 
.menu-toggle:hover {
    background-position: 0 100%;
}

.menu-toggle {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* SECTION */

section {
    scroll-snap-type: y mandatory;
}

.section-top {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-top model-viewer {
    height: 500px;
    width: 400px;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
}

.section-top model-viewer:hover {
    transform: scale(1.2);
}

@keyframes slideinfrombottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.redbull-index {
    animation: 1s ease-in-out slideinfrombottom;
}
/* PRODUCTS-REDBULL */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product img{
    width: 250px;
}

.desc-product {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.desc-product h2{
    color: yellow;
}

.section-header {
    height: calc(100vh - 196px);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.section-main {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 100px;
    height: 115vh;
    scroll-snap-align: start;
}

.ingredients-container {
    display: grid;
    grid-template-columns: 370px;
}

.ingredients {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.ingredients h1{
    text-align: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    transition: color ease-in-out 300ms;
}

.ingredients:hover h1{
    color: yellow;
}

.ingredients-desc {
    text-align: center;
    padding-bottom: 10px;
}

.fourpack img{
    width: 550px;
    transition: transform ease-in-out 200ms;
    cursor: pointer;
}

.fourpack img:hover{
    transform: scale(1.1)
}

.section-main h2 {
    color: black;
    text-align: center;
}

.section-p.active {
    display: none;
}


/* ANIMATION */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .h1-ingredients {
    position: absolute;
    font-size: 50px;
    top: 1200px;
}

/* FOOTER */

footer {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    cursor: pointer;
    transition: color ease-in 200ms;
}

footer ul li:hover {
    color: yellow;
}

footer ul li img {
    filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
    transition: color ease-in 200ms;
    width: 30px;
    padding: 5px;
}

footer ul li:hover img{
    filter: invert(88%) sepia(50%) saturate(7500%) hue-rotate(356deg) brightness(100%) contrast(104%);
}

/* INDEX */
        /* CARD-1 */
.section-index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    width: 20vw;
    height: 30vw;
    background-color: rgb(179, 179, 179);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 50px 10px;
    transition: transform ease-in-out 200ms;
    cursor: pointer;
}

.card-1:hover{
    transform: scale(1.1);
}

.card-1 button {
    margin: 30px;
    padding: 10px;
    border: none;
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
    transition: transform ease-in-out 200ms;
}

.card-1 button:hover {
    transform: translateY(-10px);
}

.inside-card-1 {
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 100% 100%;
    background-color: blue;
}

.inside-card-1 p{
    font-size: 60px;
}

.card-desc-1 {
    padding: 20px;
}

    /* CARD-2 */
.card-2 {
    width: 20vw;
    height: 30vw;
    background-color: rgb(179, 179, 179);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 50px 10px;
    transition: transform ease-in-out 200ms;
    cursor: pointer;
}

.card-2:hover{
    transform: scale(1.1);
}

.card-2 button {
    margin: 30px;
    padding: 10px;
    border: none;
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
}

.inside-card-2 {
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 100% 100%;
    background-color: rgb(0, 255, 234);
}

.inside-card-2 p{
    font-size: 60px;
}

.card-desc-2 {
    padding: 20px;
}

    /* CARD-3 */

    .card-3 {
        width: 20vw;
        height: 30vw;
        background-color: rgb(179, 179, 179);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        margin: 50px 10px;
        transition: transform ease-in-out 200ms;
        cursor: pointer;
    }
    
    .card-3:hover{
        transform: scale(1.1);
    }
    
    .card-3 button {
        margin: 30px;
        padding: 10px;
        border: none;
        background-color: yellow;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .inside-card-3 {
        width: 100%;
        height: 30%;
        border-radius: 20px 20px 100% 100%;
        background-color: rgb(68, 68, 68);
    }
    
    .inside-card-3 p{
        font-size: 60px;
    }
    
    .card-desc-3 {
        padding: 20px;
    }
/* MEDIA */

@media screen and (max-width: 1240px) {
    .section-top model-viewer {
        width: 300px;
        cursor: pointer;
        transition: transform ease-in-out 300ms;
    }
}

@media screen and (max-width: 970px) {
    .fourpack{
        display: none;
    }

    .ingredients-container-container {
        font-size: 12px;
    }
    .h1-ingredients {
        font-size: 40px;
        position: absolute;
        top: 1100px;
    }
}

@media screen and (max-width: 850px) {
    nav {
        padding: 10px 20px;
    }
    
    ul {
        display: none;
        justify-content: center;
        align-items: center;
        list-style: none;
        flex-direction: column;
    }
    ul.active {
        display: flex;
    }

    li {
        padding: 10px 0 10px 0;
    }

    .menu-toggle {
        display: block;
    }
    
    .section-top model-viewer {
        width: 200px;
        cursor: pointer;
        transition: transform ease-in-out 300ms;
    }

    .img-product img{
        width: 200px;
    }
}

@media screen and (max-width: 650px) {
    .img-product img{
        width: 150px;
    }
}


@media screen and (max-width: 580px) {
    .section-top img:first-of-type {
        display: none;
    }
    .section-top img:last-of-type {
        display: none;
    }
    .section-top model-viewer {
        width: 150px;
        cursor: pointer;
        transition: transform ease-in-out 300ms;
    }
    .h1-ingredients {
        font-size: 30px;
        position: absolute;
        top: 1100px;
    }
}

@media screen and (max-width: 450px) {
    .section-top model-viewer {
        width: 100px;
        cursor: pointer;
        transition: transform ease-in-out 300ms;
    }
}
